html body{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*Fonts*/
    @font-face {
        font-family: "MYRIADPRO";
        src: url(../fonts/MYRIADPRO-REGULAR.OTF)
    }
    @font-face {
        font-family: "MYRIADPRO-semi";
        src: url(../fonts/MYRIADPRO-SEMIBOLD.OTF)
    }
/*EndFonts*/

/*Navigation*/

.nav_header{
    text-align: center;
    margin: 35px auto 35px auto;
}

.nav{
    align-items: center;
}

.nav-first{
    margin-right: 60px;
}

.logo{
    margin-left: 75px;
    margin-right: 50px; 
}

.nav-link{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.img_header{
    background-image: url(../img/header.png);
    background-size: cover;
    background-position: center;
    min-width: 100%;
    height: 600px;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
/*End Navigation*/

/*NEWS*/
.news {
    padding: 105px 0 130px 0;
 }

 .header_title_first{
    margin-left: 215px;
 }
 
 .title_great{
     font-size: 48px;
     text-align: center;
     font-family: 'Great Vibes', cursive;
     margin: 0;
     padding: 0;
 }
 
 .title_roboto{
     font-size: 28px;
     font-family: 'Roboto', sans-serif;
     text-align: center;
     margin: 0 0 25px 0;
     padding: 0;
 }
 
 .hr_line{
     text-align: center;
     margin: 0 0 25px 0;
 }
 
 .news_image{
     border: 1px solid black;
     padding: 10px 10px 10px 10px;
 }
 
 .new_paragraf{
     font-family: 'MYRIADPRO';
     font-size: 16px;
 }
 
 .col-12_right{
     margin: 35px 0 0 0;
     text-align: right;
 }

 .style_button{
    margin: 0;
    padding: 0;
 }

 .paginattion{
     margin: 0;
     padding: 0;
 }

 .paginattion li {
    background: #cfcfcf;
 }
 
 .is-active {
     list-style: none;
     display: inline-block;
     margin-right: 30px;
     cursor: pointer;
     color: white;
     width: 30px;
     text-transform: uppercase;
     height: 30px;
     border-radius: 25px; 
     padding-top: 2px;
     padding-right: 10px;
 }
 .paginattion .is-active:hover {
    background: #c1a691;
 }


 /*End News*/

 /*Oferta*/

 .container1{
    width: 920px;
    margin-right: auto;
    margin-left: auto;
 }

#oferta{
    background-image: url(../img/tlooferty.png);
    background-position: center;
    background-size: cover;
    color: #fff;
    padding: 80px 0 55px 0;
    background-attachment: fixed;
    background-repeat: no-repeat;
 }

 .title_section{
    font-size: 48px;
    font-family: 'Great Vibes', cursive;
    margin: 0;
    padding: 0;
}

.title_h2{
    font-size: 28px;
    font-family: 'Roboto', sans-serif;
    margin: 0 0 25px 0;
    padding: 0;
}

.hr_line2{
    
    margin: 0 0 25px 0;
}

.col-md-6 {
    padding-right: 0;
    padding-left: 0;
    }

.right_col{
    text-align: center;
    margin-bottom: 80px;
}

.center_col{
    text-align: center;
}

.img_oferta{
    margin-bottom: 40px;
    cursor: pointer;
    opacity: 1;
}

.img_oferta:hover {
    opacity: 0.6;
}

.col-12_end{
    margin: 105px 0 55px 0;
}

.end_oferta{
    text-align: center;
    font-size: 48px;
    font-family: 'Great Vibes', cursive;
}

.oferta_header{
    font-family: 'Roboto', sans-serif;
    font-size: 20px
}

/*MODALI WINDOW*/
.modal-content{
    color:black;
    padding: 20px 40px 20px 40px;
}

/*end Oferta*/

/*GALERY*/
#galeria{
    padding: 120px 0 50px 0;
}

.galery_col-12{
    text-align: center;
    margin-bottom: 70px;
}

.center_col_galery{
    text-align: center;
    margin-bottom: 60px;
}

.btn_galery {
    border: none;
    outline: none;
    margin: 25px;
    padding: 10px 16px;
    background-color: #ae8c67;
    cursor: pointer;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
  }

  .btn_galery:hover {
    background-color: #ae8c67;
  }

  .btn_galery.active {
    background-color: #ae8c67;
    color: white;
  }

  .center_col-12{
      text-align: center;
  }

  .increase:hover {
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
  }

  /*LOCALE*/
  #locale{
    background-image: url(../img/tlo.png);
    background-position: center;
    background-size: cover;
    color: #fff;
    padding: 105px 0 110px 0;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }

  .margin_col-6{
      margin-top: 70px;
  }

  .margin_min_col-6{
    margin-top: 35px;
  }

  .locale_map{
    border: 1px solid white;
    padding: 10px 10px 10px 10px;
  }

  #up{
    position: relative;
    top: 0;
    left: 100%;
    cursor: pointer;
    opacity: 1;
  }

  #down{
    position: relative;
    top: 0;
    left: 100%;
    cursor: pointer;
    opacity: 1;
  }

  /*END LOCALE*/

  /*CONTACT*/
    #contact{
        background-image: url(../img/contact.png);
        background-position: center;
        padding: 105px 0 95px 0;
    }

    .margin_list{
        margin-top: 50px;
        margin-left: 10px;
    }

    .contact_list{
        font-family: 'MYRIADPRO';
        font-size: 16px;
        list-style: none;
        line-height: 30px;
    }
  /*END CONTACT

  /*FOOTER*/
    #footer{
        height: 57px;
        width: 100%;
        background-color: #eda49e;
        color:white;
        text-align: center;
    }

    #footer p{
        font-family: 'MYRIADPRO-semi';
        font-size: 16px;
        padding-top: 20px;
        padding-bottom: 15px;
        margin: 0;
    }


